// Shoelace

// sl-dialog
sl-dialog::part(title) {
  font-weight: 500;
  font-size: 1.6em;
}

sl-input::part(base) {
  background: var(--sl-color-primary-50);
  border-radius: 20px;
  border: 3px solid var(--brand-color);
  max-width: 35%;
  position: center;
  margin-bottom: 0.2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

sl-select::part(suffix) {
  background: var(--sl-color-primary-100);
  border-radius: 15px;
}

sl-textarea::part(base) {
  background: var(--sl-color-primary-100);
  border-radius: 15px;
  margin-bottom: 1em;
}

sl-button::part(base) {
  border-radius: 20px;
  width: 10em;
  border: 3px solid var(--brand-color);
  background: var(--sl-color-primary-50);
  color: var(--brand-color);
}

.shop-now-btn::part(base) {
  background: var(--brand-color);
  color: var(--page-body-bg);
  width: 12em;
  height: 4em;
  border-radius: 50px;
  padding: 5px;
  margin-top: 0px;
}

.product-btn::part(base) {
  background: var(--brand-color);
  color: var(--page-body-bg);
  width: 12em;
  height: 4em;
  border-radius: 50px;
  padding: 5px;
  margin-top: 0px;
}

sl-card {
  --border-radius: 15em;
}

// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px) {
  sl-dialog::part(panel) {
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
  }
}
